{% extends 'Base.html' %}

{% block title %} 離場繳費 {% endblock %}

{% block header %}
<div class="row">
    <div class="col-12">

        <!-- Text -->
        <section class="box">
            <form action="/Payment" method="post">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-12 col-12-mobilep">
                        <input type="text" name="Unumber" id="Unumber" value="" placeholder="車牌號碼" />
                        <br>
                        <input type="text" name="amount" id="amount" value="" placeholder="輸入金額" />
                    </div>
                </div>
                <br>
                <div class="col-3 col-12-mobilep">
                    <input type="submit" value="確定" />
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}
{% block box %}
<ul class="actions special">
    <li><a href="{{ url_for('index') }}" class="button primary">回首頁</a></li>
</ul>
{% endblock %}