{% extends 'Base.html' %}

{% block title %} 訂位完成 {% endblock %}

{% block header %}
<h2>訂位成功</h2>
<p>祝您旅途愉快~~</p>
{% endblock %}

{% block box %}
<section class="box">
    <h3>已訂位資料</h3>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>
                        <h4>電話</h4>
                    </th>
                    <th>
                        <h4>車位</h4>
                    </th>
                    <th>
                        <h4>車牌</h4>
                    </th>
                    <th>
                        <h4>時間</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if DBfatch%}
                <tr>
                    <td>{{ DBfatch[0] }}</td>
                    <td>{{ DBfatch[1] }}</td>
                    <td>{{ DBfatch[2] }}</td>
                    <td>{{ DBfatch[3] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
    <ul class="actions special">
        <li><a href="{{ url_for('index') }}" class="button primary">回首頁</a></li>
    </ul>
    {% endblock %}