{% extends 'SearchBase.html' %}

{% block title %}訂位查詢系統{% endblock  %}

{% block table %}訂位查詢{% endblock  %}

{% block Post %}<form action="/search" method="post">{% endblock  %}

{% block Box %}
	<div class="row">
		<div class="col-12">

			<!-- Table -->

				<section class="box">
					<h3>查詢結果</h3>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th><h4>姓名</h4></th>
									<th><h4>電話</h4></th>
									<th><h4>人數</h4></th>
									<th><h4>日期</h4></th>
									<th><h4>時段</h4></th>
								</tr>
							</thead>
							<tbody>
								{% if DBfatch%}
								<tr>
									<td>{{ DBfatch[0] }}</td>
									<td>{{ DBfatch[1] }}</td>
									<td>{{ DBfatch[2] }}</td>
									<td>{{ DBfatch[3] }}</td>
								</tr>

								{% else %}
								<tr>
									<td>none</td>
									<td>none</td>
									<td>none</td>
									<td>none</td>
									<td>none</td>

								</tr>
								{% endif %}

							</tbody>

						</table>
						<ul class="actions special">
							<li><a href="{{ url_for('index') }}" class="button primary">回首頁</a></li>
						</ul>
					</div>
{% endblock %}